@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&family=Yantramanav:wght@500&display=swap');
*{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.Navbar {
    display: flex;
}

.navbar-header {
    font-size: 20px;
    margin-left: 30px;
    font-family: 'Yantramanav', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: -20px;
}

.Navbar li {
    list-style: none;
    padding: 17.5px;
    text-align: right;
    justify-content: flex-end;
    font-weight: 600;
    font-family: 'Yantramanav', sans-serif;
}

.Navbar li:hover {
    /*background-color: #f2f2f2;*/
    font-weight: 700;
    cursor: pointer;
}

.active {
    font-weight: 700;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #111111;
    visibility: hidden;
    opacity: 0;
    font-size: 1.3rem;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home {
    margin: 180px 0;
}

.heading {
    font-size: 50px;
    font-weight: 700;
    margin: 0 340px 0 0;
    padding: 0;
    text-align: left;
    color: #111;
}

.sub-heading {
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0;
    padding: 0 0 0 3px;
    text-align: left;
    color: gray;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.linkedin {
    width: 30px;
}

.github {
    width: 30px;
    padding-left: 5px;
}

.images {
    display: flex;
    width: 270px; /* Adjust the dimensions as per your requirements */
    height: 270px;
    border-radius: 50%; /* This creates the circle shape */
    overflow: hidden; /* Clips the image to the container's shape */
}

.images img {
    width: 130%;
    height: 95%;
}

.tech-stack {
    margin: 150px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages {
    font-size: 20px;
    width: 10%;
    text-align: center;
}

.languages span {
    margin-left: 50px;
    font-size: 20px;
    height: 60px;
    font-weight: 300;
}

.language-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20px;
    padding: 10px 40px;
}



.summary-about {
    margin: 300px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.summary-about-img > img{
    width: 350px;
    height: auto;
    border-radius: 1rem;
}

.memoji{
    position: absolute;
    background-color: white;
    top: 1220px;
    left: 620px;
    display: flex;
    width: 150px; /* Adjust the dimensions as per your requirements */
    height: 150px;
    border-radius: 50%; /* This creates the circle shape */
    overflow: hidden; /* Clips the image to the container's shape */
}

.memoji > img {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
}

.summary-about-heading{
    font-size: 18px;
    font-weight: 700;
    color: dodgerblue;
}

.summary-about-subheading{
    font-size: 20px;
    font-weight: 500;
    color: gray;
    margin: 0 0 5px 0;
}

.summary-about-paragraph{
    font-size: 15px;
    font-weight: 500;
    color: black;
    width: 100%;
}

.portfolio-heading{
    font-size: 18px;
    font-weight: 700;
    color: dodgerblue;
}

@media screen and (max-width: 1400px){
    .languages {
        font-size: 20px;
        width: 20%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .Navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .navbar-header {
        font-size: 15px;
        margin-left: 20px;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        padding: 0 20px;
    }

    .Navbar li {
        list-style: none;
        padding: 17.5px;
        text-align: right;
        justify-content: flex-end;
        font-weight: 600;
    }

    .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height:100%;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
        gap: 1.5rem;
        transform: translateY(-100vh);
    }

    nav > li{
        font-size: 15px;
    }

    .responsive_nav {
        transform: none;
    }

    .nav-close-btn{
        position: absolute;
        top: 1rem;
        right: 3.8rem;
        color: white;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    .Home {
        margin: 50px 25px;
    }

    .heading {
        font-size: 50px;
        font-weight: 700;
        margin: 0 0 40px 0;
        padding: 0;
        text-align: center;
        color: #111;
    }

    .sub-heading {
        font-size: 14px;
        font-weight: 500;
        margin: 20px 0;
        padding: 0;
        text-align: center;
        color: gray;
    }

    .social-links {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 0 80px 0;
    }

    .linkedin {
        width: 30px;
    }

    .github {
        width: 30px;
        padding-left: 5px;
    }

    .images {
        display: flex;
        width: 200px; /* Adjust the dimensions as per your requirements */
        height: 200px;
        margin:0 auto -60px auto;
        border-radius: 50%; /* This creates the circle shape */
        overflow: hidden; /* Clips the image to the container's shape */
    }

    .images img {
        width: 100%;
        height: auto;
    }

    .tech-stack {
        margin: 100px 0 7`0px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .languages {
        font-size: 10px;
        /*width: 20%;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .languages span {
        margin-left: 30%;
        font-size: 13px;
        height: 20px;
        font-weight: 200;
    }

    .language-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .logo {
        width: 20px;
        padding: 5px 10px;
    }

    .logo > img{
        width: 20px;
        height: 20px;
        padding: 5px;
    }

    .summary-about {
        margin: 30px 0 ;
        flex-direction: column;
    }

    .summary-about-img > img{
        width: 350px;
        height: auto;
        border-radius: 1rem;
    }

    .summary-about-heading{
        text-align: center;
    }

    .summary-about-subheading{
        text-align: center;
    }

    .summary-about-paragraph{
        text-align: center;
    }

    .portfolio-heading{
        text-align: center;
    }

}
