
.Navbar {
    display: flex;
}

.navbar-header {
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 30px;
}

.Navbar li {
    list-style: none;
    padding: 17.5px;
    text-align: right;
    justify-content: flex-end;
    font-weight: 600;
}

.Navbar li:hover {
    /*background-color: #f2f2f2;*/
    font-weight: 700;
    cursor: pointer;
}

.active {
    font-weight: 700;
}

.top{
    display: flex;

}

.Home {
    margin: 250px 375px 0 375px;
}

.heading {
    font-size: 50px;
    font-weight: 700;
    margin: 0 290px 0 0;
    padding: 0;
    text-align: left;
    color: #111;
}

.sub-heading {
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0;
    padding: 0;
    text-align: left;
    color: gray;
}

.social-links{
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.linkedin {
    width: 30px;
}

.github {
    width: 30px;
    padding-left: 5px;
}

.images {
    display: flex;
    width: 270px; /* Adjust the dimensions as per your requirements */
    height: 270px;
    border-radius: 50%; /* This creates the circle shape */
    overflow: hidden; /* Clips the image to the container's shape */
}

.images img {
    width: 100%;
    height: auto;
}

.tech-stack{
    margin: 150px 0 0 0;
    display: flex;
    text-align: center;
}

.languages{
    font-size: 20px;
    width: 30%;
}

.languages span{
    margin-left: 60px;
    font-size: 20px;
    height: 60px;
    font-weight: 300;
}

.language-logos{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.logo{
    width: 30px;
    padding: 0 40px;
}